.env
book.pdf

raw_book_merged_text.txt

.venv
pdf_pages
prompts_for_raw_chapters
properparts_staging
proper_parts_backup
prompts_for_raw_chapters
raw_txt_pages
raw_chapters
responses_from_deepseek*
failed_responses
